<div class="inner_pages create_box">

  <nb-card-header class="main_header">
    @if (action == 'save') {
      <h1 class="page_title">{{'CONTENT.ADD_BOX_DETAILS' | translate}}</h1>
    }
    @if (action == 'edit') {
      <h1 class="page_title">{{'CONTENT.UPDATE_BOX_DETAILS' | translate}}</h1>
    }
    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'COMMON.CANCEL'
      | translate}}</button>
    </div>
    <div class="content_spacing">
      @if (action == 'edit') {
        <button type="button" nbButton class="success_button" [nbSpinner]="loader"
          nbSpinnerSize="large" nbSpinnerStatus="control" (click)="save()">
          {{ ( !loader ? 'COMMON.UPDATE' : '' ) | translate }}
        </button>
      }
      @if (action == 'save') {
        <button type="button" nbButton class="success_button" [nbSpinner]="loader"
          nbSpinnerSize="large" nbSpinnerStatus="control" (click)="save()">{{ ( !loader ? 'COMMON.SAVE' : '' ) | translate
        }}</button>
      }
    </div>
  </nb-card-header>
  <div class="" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary">
    @if (!loader) {
      <form [formGroup]='form' #boxForm="ngForm" role="form">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">{{ 'CONTENT.BASIC_DETAILS' | translate}}</nb-card-header>
              <nb-card-body class="nb-card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <nb-checkbox formControlName='visible'>{{ 'CONTENT.VISIBLE' | translate}}</nb-checkbox>
                      <!--<nb-checkbox [(ngModel)]="page.mainmenu" name="mainmenu">{{ 'CONTENT.MAINMENU' | translate}}</nb-checkbox>-->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="code" class="label inputLabel">{{ 'CONTENT.CODE' | translate}} <span>*</span></label>
                      <div>
                        <input type="text" class="form-control inputText" id="code" formControlName='code'
                          [readOnly]="uniqueCode" placeholder="{{ 'COMMON.CODE' | translate}}"
                          (change)="checkCode($event)" required>
                        @if ((code.dirty || code.touched) && code.invalid && code) {
                          <div class="err-message">
                            @if (code.errors.required) {
                              <span>
                                {{ 'COMMON.CODE_REQUIRED' | translate}}
                              </span>
                            }
                            @if (code.errors.pattern) {
                              <span>
                                {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate}}
                              </span>
                            }
                          </div>
                        }
                        @if (isCodeExists) {
                          <span class="err-message">
                            {{ 'COMMON.CODE_EXISTS' | translate}}
                          </span>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">{{ 'CONTENT.PAGE_CONTENT' | translate}} - {{('LANG.'+
                currentLanguage) |translate }}&nbsp;
                @if (languages.length) {
                  <nb-select placeholder="{{ 'COMMON.LANGUAGE' | translate}}" outline
                    shape="rectangle" name='selectedLanguage' [selected]="defaultLanguage">
                    @for (language of languages; track language) {
                      <nb-option (click)="selectLanguage(language.code)"
                        [value]="language.code">{{
                      ('LANG.'+language.code) |translate }}</nb-option>
                    }
                  </nb-select>
                }
              </nb-card-header>
              <nb-card-body class="nb-card-body">
                @if (selectedLanguage.value !== '') {
                  <div formArrayName='descriptions'>
                    @for (descr of descriptions.controls; track descr; let j = $index) {
                      <div>
                        @if (descr.value.language === selectedLanguage.value) {
                          <div>
                            <div [formGroupName]="j" class="description-block">
                              <div class="form-group">
                                <div formControlName="description" [ngxSummernote]="config" (change)="changeFn($event)"></div>
                              </div>
                            </div>
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </form>
    }
  </div>
</div>