<div class="inner_pages create_customer">

  <nb-card-header class="main_header">
    @if (buttonText == 'Save') {
      <h1 class="page_title">{{'CUSTOMERS.CREATE_CUSTOMER' | translate}}</h1>
    }
    @if (buttonText == 'Update') {
      <h1 class="page_title">{{'CUSTOMERS.UPDATE_CUSTOMER' | translate}}</h1>
    }
    <div class="content_spacing">
      <nb-select [(selected)]="selectedItem" outline shape="rectangle" class="headerDropdown">
        @for (item of sidemenuLinks; track item) {
          <nb-option [value]="item.id" (click)="onClickRoute(item.link)">{{ item.title
            }}
          </nb-option>
        }
      </nb-select>
    </div>
    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'ORDER_FORM.CANCLE'
      | translate}}</button>
    </div>
    <div class="
          content_spacing">
      @if (buttonText == 'Update') {
        <button type="button" nbButton class="success_button" [disabled]="!customerForm.form.valid"
          (click)="onAddCustomer()">{{'CUSTOMERS.UPDATE'
          |
        translate }}</button>
      }
      @if (buttonText == 'Save') {
        <button type="button" nbButton class="success_button" [disabled]="!customerForm.form.valid"
          (click)="onAddCustomer()">{{'COMMON.SAVE'
          |
        translate }}</button>
      }
    </div>
  </nb-card-header>

  <div class="" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <form #customerForm="ngForm" role="form">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{'ORDER_FORM.BILLING_INFO' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.FIRST_NAME' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="first_name" placeholder="{{'ORDER_FORM.FIRST_NAME' | translate}}"
                      [(ngModel)]="billing.firstName" name="firstName" required #firstName="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.LAST_NAME' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="last_name" placeholder="{{'ORDER_FORM.LAST_NAME' | translate}}"
                      [(ngModel)]="billing.lastName" name="lastName" required #lastName="ngModel">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'CUSTOMERS.USER_NAME' | translate}}</label>
                    <input type="text" class="form-control inputText" id="user_name" placeholder="{{'CUSTOMERS.USER_NAME' | translate}}"
                      [(ngModel)]="info.userName" name="userName" #userName="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'CUSTOMERS.COMPANY' | translate}}</label>
                    <input type="text" class="form-control inputText" id="billing_company" placeholder="{{'CUSTOMERS.Company' | translate}}"
                      [(ngModel)]="billing.company" name="company">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.STREET_ADDRESS' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="billing_address" placeholder="{{'ORDER_FORM.STREET_ADDRESS' | translate}}"
                      [(ngModel)]="billing.address" name="address" required #address="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.CITY' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="billing_city" placeholder="{{'ORDER_FORM.CITY' | translate}}"
                      [(ngModel)]="billing.city" name="city" required #city="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.COUNTRY' | translate}}<span>*</span></label>
                    @if (billingCountry.length > 0) {
                      <nb-select placeholder="{{'ORDER_FORM.SELECT_COUNTRY' | translate}}"
                        outline shape="rectangle" [(ngModel)]="billing.country" name="country" (selectedChange)="onBillingChange($event, 1)"
                        class="select_fields" required>
                        @for (country of billingCountry; track country) {
                          <nb-option [value]="country.code">{{ country.name }}
                          </nb-option>
                        }
                      </nb-select>
                    }
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  @if (billingStateData.length > 0) {
                    <div class="form-group">
                      <label class="label inputLabel">{{'ORDER_FORM.STATE' | translate}}<span>*</span></label>
                      <nb-select placeholder="{{'ORDER_FORM.SELECT_STATE' | translate}}" class="select_fields" outline
                        shape="rectangle" [(ngModel)]="billing.zone" name="zone" required>
                        @for (state of billingStateData; track state) {
                          <nb-option [value]="state.code">{{ state.name }}
                          </nb-option>
                        }
                      </nb-select>
                    </div>
                  }
                  @if (billingStateData.length == 0) {
                    <div class="form-group">
                      <label class="label inputLabel">{{'ORDER_FORM.STATE' | translate}}<span>*</span></label>
                      <input type="text" class="form-control inputText" placeholder="{{'ORDER_FORM.ENTER_STATE' | translate}}"
                        [(ngModel)]="billing.zone" name="zone" required>
                    </div>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.POSTAL_CODE' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="billing_postal" placeholder="{{'ORDER_FORM.POSTAL_CODE' | translate}}"
                      [(ngModel)]="billing.postalCode" name="postalCode" required #postalCode="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.EMAIL' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="billing_email" placeholder="{{'ORDER_FORM.EMAIL' | translate}}"
                      [(ngModel)]="info.emailAddress" name="emailAddress" required #email="ngModel">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.PHONE_NUMBER' | translate}}<span>*</span></label>
                    <input type="text" class="form-control inputText" id="billing_phone" placeholder="{{'ORDER_FORM.PHONE_NUMBER' | translate}}"
                      [(ngModel)]="billing.phone" name="phone" required #phone="ngModel" minlength=10 maxlength=13>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  @if (languages.length) {
                    <div class="form-group">
                      <label class="label inputLabel">{{'CUSTOMERS.DEFAULT_LANGUAGE' | translate}}</label>
                      <nb-select placeholder="{{'CUSTOMERS.SELECT_LANGUAGE' | translate}}" class="select_fields" outline
                        shape="rectangle" [(ngModel)]="info.language" required name='language'>
                        @for (language of languages; track language) {
                          <nb-option
                            [value]="language.code">{{
                          ('LANG.'+language.code) |translate }}</nb-option>
                        }
                      </nb-select>
                    </div>
                  }
                </div>
              </div>


            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{'ORDER_FORM.SHIPPING_INFO' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="label inputLabel">{{'ORDER_FORM.FIRST_NAME' |
                    translate}}</label>
                    <input type="text" class="form-control inputText" id="first_name" placeholder="{{'ORDER_FORM.FIRST_NAME' |
                    translate}}"
                      [(ngModel)]="shipping.firstName" name="shipping.firstName" #firstName="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="label inputLabel">{{'ORDER_FORM.LAST_NAME' |
                    translate}}</label>
                    <input type="text" class="form-control inputText" id="last_name" placeholder="{{'ORDER_FORM.LAST_NAME' |
                    translate}}"
                      [(ngModel)]="shipping.lastName" name="shipping.lastName" #lastName="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="label inputLabel">{{'CUSTOMERS.COMPANY' | translate}}</label>
                    <input type="text" class="form-control inputText" id="shipping_company" placeholder="{{'CUSTOMERS.Company' | translate}}"
                      [(ngModel)]="shipping.company" name="shipping.company">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="label inputLabel">{{'ORDER_FORM.STREET_ADDRESS' |
                    translate}}</label>
                    <input type="text" class="form-control inputText" id="shipping_address" placeholder="{{'ORDER_FORM.STREET_ADDRESS' | translate}}"
                      [(ngModel)]="shipping.address" name="shipping.address" #address="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="label inputLabel">{{'ORDER_FORM.CITY' | translate}}</label>
                    <input type="text" class="form-control inputText" id="shipping_city" placeholder="{{'ORDER_FORM.CITY' | translate}}"
                      [(ngModel)]="shipping.city" name="shipping.city" #city="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.POSTAL_CODE' | translate}}</label>
                    <input type="text" class="form-control inputText" id="shipping_postal" placeholder="{{'ORDER_FORM.POSTAL_CODE' | translate}}"
                      [(ngModel)]="shipping.postalCode" name="shipping.postalCode">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'ORDER_FORM.COUNTRY' | translate}}</label>
                    @if (shippingCountry.length > 0) {
                      <nb-select placeholder="{{'ORDER_FORM.SELECT_COUNTRY' | translate}}"
                        outline shape="rectangle" (selectedChange)="onShippingChange($event, 1)" [(ngModel)]="shipping.country"
                        class="select_fields" name="shipping.country">
                        @for (country of shippingCountry; track country) {
                          <nb-option [value]="country.code">{{
                          country.name }}</nb-option>
                        }
                      </nb-select>
                    }
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  @if (shippingStateData.length > 0) {
                    <div class="form-group">
                      <label class="label inputLabel">{{'ORDER_FORM.STATE' | translate}}</label>
                      <nb-select placeholder="{{'ORDER_FORM.SELECT_STATE' | translate}}" outline shape="rectangle" class="select_fields"
                        [(ngModel)]="shipping.zone" name="shipping.zone">
                        @for (state of shippingStateData; track state) {
                          <nb-option [value]="state.code">{{ state.name }}
                          </nb-option>
                        }
                      </nb-select>
                    </div>
                  }
                  @if (shippingStateData.length == 0) {
                    <div class="form-group">
                      <label class="label inputLabel">{{'ORDER_FORM.STATE' | translate}}</label>
                      <input type="text" class="form-control inputText" placeholder="{{'ORDER_FORM.ENTER_STATE' | translate}}"
                        [(ngModel)]="shipping.zone" name="shipping.zone">
                    </div>
                  }
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-3 col-form-label inputLabel">{{ 'CUSTOMERS.GROUPS' | translate }} *</label>
                <div class="col-sm-12 group-block">
                  @for (group of groups; track group) {
                    <nb-checkbox (change)="addRole(group)" [value]="group.checked"
                      [disabled]="group.disabled">
                      {{ group.name }}
                    </nb-checkbox>
                  }
                </div>
              </div>


            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </form>
  </div>

</div>