<div class="inner_pages storeManagement">

  <nb-card-header class="main_header">
    <h1 class="page_title">{{ title | translate }}</h1>

    <div class="content_spacing">
      <nb-select [(selected)]="selectedItem" outline shape="rectangle" class="headerDropdown">
        @for (item of sidemenuLinks; track item) {
          <nb-option [value]="item.id" (click)="onClickRoute(item.link)">{{ item.title
            }}
          </nb-option>
        }
      </nb-select>
    </div>
    @if (isCancel == '0') {
      <div class="content_spacing">
        <button type="button" nbButton class="cancel_button" (click)="goToBack()">{{ 'ORDER_FORM.CANCLE'
        | translate}}</button>
      </div>
    }
    <div class="content_spacing">
      <button type="submit" [disabled]="!form.valid" [nbSpinner]="loading" nbSpinnerSize="large"
        nbSpinnerStatus="control" (click)="save()" nbButton class="success_button">{{ ( !loading ? 'COMMON.SAVE' : '' )
        | translate
      }}</button>
    </div>
  </nb-card-header>

  @if (!loading) {
    <form [formGroup]='form' class="storeManagement">
      <nb-card class="nb-card inline-form-card">
        <nb-card-body>
          <div class="form-group">
            <label for="name" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.'+ establishmentType+'_NAME' |
              translate }}
            *</label>
            <div class="col-sm-12">
              <input type="text" class="form-control inputText" id="name" formControlName='name'
                placeholder="{{ 'STORE_FORM.'+ establishmentType+'_NAME' | translate }}" required>
              @if ((name.dirty || name.touched) && name.invalid && name.errors.required) {
                <span class="err-message">
                  {{ 'STORE_FORM.'+ establishmentType+'_NAME_REQUIRED' | translate }}
                </span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="code" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.'+ establishmentType+'_CODE' |
              translate }}
            *</label>
            <div class="col-sm-12">
              <input type="text" class="form-control inputText" id="code" formControlName='code'
                placeholder="{{ 'STORE_FORM.'+ establishmentType+'_CODE' | translate }}" [readOnly]="isReadonlyCode"
                (change)="checkCode($event)" required>
              @if ((code.dirty || code.touched) && code.invalid && code) {
                <div class="err-message">
                  @if (code.errors.required) {
                    <span>
                      {{ 'COMMON.CODE_REQUIRED' | translate}}
                    </span>
                  }
                  @if (code.errors.pattern) {
                    <span>
                      {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate}}
                    </span>
                  }
                </div>
              }
              @if (!isCodeUnique) {
                <span class="err-message">
                  {{ 'COMMON.CODE_EXISTS' | translate}}
                </span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.'+ establishmentType+'_PHONE'
              | translate }}
            *</label>
            <div class="col-sm-12">
              <input type="text" class="form-control inputText" id="phone" formControlName='phone'
                placeholder="{{ 'STORE_FORM.'+ establishmentType+'_PHONE' | translate }}" required>
              @if ((phone.dirty || phone.touched) && phone.invalid && phone.errors.required) {
                <span class="err-message">
                  {{ 'STORE_FORM.PHONE_REQUIRED' | translate }}
                </span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.'+ establishmentType+'_EMAIL'
              | translate }}
            *</label>
            <div class="col-sm-12">
              <input type="text" class="form-control inputText" id="email" formControlName='email'
                placeholder="{{ 'STORE_FORM.'+ establishmentType+'_EMAIL' | translate }}" required>
              @if ((email.dirty || email.touched) && email.invalid && email) {
                <span class="err-message">
                  @if (email.errors.email || email.errors.pattern) {
                    <span>
                      {{ 'USER_FORM.EMAIL_ADDRESS_ERROR_NOT_VALID' | translate }}
                    </span>
                  }
                  @if (email.errors.required) {
                    <span>
                      {{ 'USER_FORM.EMAIL_ADDRESS_ERROR_REQUIRED' | translate }}
                    </span>
                  }
                </span>
              }
            </div>
          </div>
          <div formGroupName="address" class="address-block">
            @if (env?.googleApiKey) {
              <div class="form-group">
                <div class="col-sm-12">
                  <input placeholder="{{ 'STORE_FORM.ENTER_ADDRESS' | translate }}" autocorrect="off" autocapitalize="off"
                    spellcheck="off" type="text" class="form-control inputText" #search formControlName="searchControl">
                </div>
              </div>
            }
            <div class="form-group">
              <label for="address" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.ADDRESS' | translate }}
              *</label>
              <div class="col-sm-12">
                <input type="text" class="form-control inputText" id="address" formControlName='address'
                  placeholder="{{ 'STORE_FORM.ADDRESS' | translate }}" required>
                @if ((address.dirty || address.touched) && address.invalid && address.errors.required) {
                  <span
                    class="err-message">
                    {{ 'STORE_FORM.ADDRESS_REQUIRED' | translate }}
                  </span>
                }
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="city" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.CITY' | translate }}
                *</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control inputText" id="city" formControlName='city'
                    placeholder="{{ 'STORE_FORM.CITY' | translate }}" required>
                  @if ((city.dirty || city.touched) && city.invalid && city.errors.required) {
                    <span class="err-message">
                      {{ 'STORE_FORM.CITY_CODE_REQUIRED' | translate }}
                    </span>
                  }
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="postalCode" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.POSTAL_CODE' |
                  translate }}
                *</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control inputText" id="postalCode" formControlName='postalCode'
                    placeholder="{{ 'STORE_FORM.POSTAL_CODE' | translate }}" required>
                  @if ((postalCode.dirty || postalCode.touched) && postalCode.invalid && postalCode.errors.required) {
                    <span
                      class="err-message">
                      {{ 'STORE_FORM.POSTAL_CODE_REQUIRED' | translate }}
                    </span>
                  }
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.COUNTRY' | translate }} *</label>
              <div class="col-sm-12">
                @if (countries.length) {
                  <nb-select placeholder="{{ 'STORE_FORM.COUNTRY' | translate }}"
                    formControlName='country' outline shape="rectangle" (selectedChange)="countryIsSelected($event)"
                    class="fullWidth">
                    @for (country of countries; track country) {
                      <nb-option [value]="country.code">{{ country.name }}</nb-option>
                    }
                  </nb-select>
                }
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.STATE_PROVINCE' | translate }}</label>
              <div class="col-sm-12">
                @if (provinces.length) {
                  <nb-select
                    placeholder="{{ 'STORE_FORM.STATE_PROVINCE' | translate }}" formControlName='stateProvince' outline
                    [selected]="stateProvince.value" shape="rectangle" class="fullWidth">
                    @for (province of provinces; track province) {
                      <nb-option [value]="province.code">{{ province.name }}</nb-option>
                    }
                  </nb-select>
                } @else {
                  <input type="text" class="form-control inputText" id="stateProvince" formControlName='stateProvince'
                    placeholder="{{ 'STORE_FORM.STATE_PROVINCE' | translate }}" required>
                }
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.SUPPORTED_LANGUAGES' | translate }}
            *</label>
            <div class="col-sm-12 group-block">
              @for (language of supportedLanguages; track language) {
                <nb-checkbox [value]="userHasSupportedLanguage(language)"
                  (change)="addSupportedLanguage(language.code)">
                  {{ ('LANG.'+language.code) | translate }}
                </nb-checkbox>
              }
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.DEFAULT_LANGUAGE' | translate }} *</label>
            <div class="col-sm-12">
              @if (supportedLanguages.length) {
                <nb-select placeholder="{{ 'COMMON.DEFAULT_LANGUAGE' | translate }}"
                  formControlName='defaultLanguage' outline shape="rectangle" class="fullWidth">
                  @for (language of supportedLanguages; track language) {
                    <nb-option [value]="language.code">
                    {{ ('LANG.'+language.code) | translate }}</nb-option>
                  }
                </nb-select>
              }
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.CURRENCY' | translate }}</label>
            <div class="col-sm-12">
              @if (supportedCurrency.length) {
                <nb-select placeholder="{{ 'STORE_FORM.CURRENCY' | translate }}"
                  formControlName='currency' outline shape="rectangle" class="fullWidth">
                  @for (currency of supportedCurrency; track currency) {
                    <nb-option [value]="currency.code">{{ currency.code }}
                    </nb-option>
                  }
                </nb-select>
              }
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 group-block">
              <nb-checkbox formControlName='currencyFormatNational'>
                {{ 'STORE_FORM.CURRENCY_FORMAT' | translate }}
              </nb-checkbox>
            </div>
            <div class="col-sm-12">
              {{ 'STORE_FORM.CURRENCY_FORMAT_RULE' | translate }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.WEIGHT_UNITS' | translate }} *</label>
            <div class="col-sm-12">
              @if (weightList.length) {
                <nb-select placeholder="{{ 'STORE_FORM.WEIGHT_UNITS' | translate }}"
                  formControlName='weight' outline shape="rectangle" class="fullWidth">
                  @for (el of weightList; track el) {
                    <nb-option [value]="el">{{ el }}</nb-option>
                  }
                </nb-select>
              }
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.SIZE_UNITS' | translate }} *</label>
            <div class="col-sm-12">
              @if (sizeList.length) {
                <nb-select placeholder="{{ 'STORE_FORM.SIZE_UNITS' | translate }}"
                  formControlName='dimension' outline shape="rectangle" class="fullWidth">
                  @for (el of sizeList; track el) {
                    <nb-option [value]="el">{{ el }}</nb-option>
                  }
                </nb-select>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="city" class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.OPERATING_SINCE' | translate
            }}</label>
            <div class="col-sm-12">
              <input class="form-control has-person-icon inputText"
                placeholder="{{ 'STORE_FORM.OPERATING_SINCE' | translate }}" [readOnly]="true"
                formControlName='inBusinessSince' [nbDatepicker]="datepicker">
              <nb-datepicker #datepicker></nb-datepicker>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 group-block">
              <nb-checkbox formControlName='useCache'>
                {{ 'STORE_FORM.USE_CACHE' | translate }}
              </nb-checkbox>
            </div>
          </div>
          <div>
            <div class="form-group">
              <div class="col-sm-12 group-block">
                <nb-checkbox formControlName='retailer' (change)="showRetailers($event)">
                  {{ 'COMPONENTS.RETAILER' | translate }}
                </nb-checkbox>
              </div>
            </div>
            @if (isRetailerRole) {
              <div class="form-group">
                <label class="col-sm-10 col-form-label inputLabel">{{ 'STORE_FORM.SELECT_RETAILER' | translate }}
                </label>
                <div class="col-sm-12">
                  @if (retailerArray.length) {
                    <nb-select placeholder="{{ 'STORE_FORM.SELECT_RETAILER' | translate }}"
                      formControlName='retailerStore' outline shape="rectangle" class="fullWidth">
                      @for (el of retailerArray; track el) {
                        <nb-option [value]="el.code">{{ el.name }}</nb-option>
                      }
                    </nb-select>
                  }
                </div>
              </div>
            }
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  }
<!-- </div> -->
</div>