<div class="inner_pages packages_add_box">
  <!-- <div class="" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->
  <nb-card-header class="main_header">
    <h1 class="page_title">Shipping Configure - {{shippingType}}</h1>

    <div class="content_spacing">
      <button type="button" class="cancel_button" (click)="goBack()">{{'COMMON.CANCEL' | translate }}</button>
    </div>

    <div class="content_spacing">
      <button type="submit" class="success_button" [nbSpinner]="loadingList" nbSpinnerSize="large"
        nbSpinnerStatus="control" (click)="save()" [disabled]="!configureForm.form.valid">{{
        'COMMON.SAVE' | translate
      }}</button>
    </div>
  </nb-card-header>

  <form #configureForm="ngForm" role="form">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nb-card class="nb-card inline-form-card">
          <nb-card-body class="nb-card-body">

            <div class="row">

              @for (data of formData; track data) {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  @if (data.type == 'checkbox') {
                    <div class="form-group">
                      <nb-checkbox [(ngModel)]="data.value" name="{{data.name}}">{{data.label}}</nb-checkbox>
                    </div>
                  }
                  @if (data.type == 'dropdown') {
                    <div class="form-group">
                      <label class="label inputLabel">{{data.label}}@if (data.isRequired) {
                        <span>*</span>
                      }</label>
                      <nb-select placeholder="{{data.placeholder}}" outline shape="rectangle" [(ngModel)]="data.value"
                        class="select_fields" name="{{data.name}}" required="{{data.isRequired}}">
                        @for (value of data.optionData; track value) {
                          <nb-option [value]="value.id">{{value.label}}</nb-option>
                        }
                      </nb-select>
                    </div>
                  }
                  @if (data.type == 'text' || data.type ==  'number') {
                    <div class="form-group">
                      <label class="label inputLabel">{{data.label}}@if (data.isRequired) {
                        <span>*</span>
                      }</label>
                      <input type="{{data.type}}" class="form-control inputText" placeholder="{{data.placeholder}}"
                        [(ngModel)]="data.value" name="{{data.name}}" required="{{data.isRequired}}">
                    </div>
                  }
                  @if (data.type == 'summernote') {
                    <div class="form-group">
                      <label class="label inputLabel">{{data.label}}@if (data.isRequired) {
                        <span>*</span>
                      }</label>
                      <div [ngxSummernote]="editorConfig" [(ngModel)]="data.value" name="{{data.name}}">
                      </div>
                    </div>
                  }
                  @if (data.type == 'groupcheckbox') {
                    <div class="form-group">
                      <label class="label inputLabel">{{data.label}}@if (data.isRequired) {
                        <span>*</span>
                      }</label>
                      @for (group of data.optionData; track group) {
                        <div>
                          <nb-checkbox [(ngModel)]="group.checked" [ngModelOptions]="{standalone: true}">
                            {{group.label}}
                          </nb-checkbox>
                        </div>
                      }
                    </div>
                  }
                  @if (data.type == 'radio') {
<div class="
                        form-group">
                      <label class="label inputLabel">{{data.label}}@if (data.isRequired) {
                        <span>*</span>
                      }</label>
                      <div>
                        <nb-radio-group [(ngModel)]="data.value" name="{{data.name}}">
                          @for (type of data.optionData; track type) {
                            <nb-radio [value]="type.value" class="shipping-radio">
                            {{type.label}}</nb-radio>
                          }
                        </nb-radio-group>
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </form>
<!-- </div> -->
</div>