@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.page-card {
  background: transparent;
  border: none;

  .userList {
    .main_header {
      padding: 0px 30px 10px 0px;

      .page_title {
        margin-top: -25px;
        font-weight: 600;
      }
    }

    .filter_section {
      background: #fff;
      padding: 10px 15px;
      margin: -10px 0 10px 0;
      width: 100%;

      .filter_right_section {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .home-table {
      background: #fff;
      border-radius: 6px;
      overflow: auto;

      table {
        margin-bottom: 0;
      }

      tbody tr:hover {
        background: #e6f3ff;
      }
    }
  }
}
