<nb-card class="page-card">
  @if (loading) {
    <div class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    </div>
  }
  @if (!loading) {
    <nb-card-body>
      <div class="inner_pages_legacy">
        <nb-card-header class="main_header">
          <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate}}</h1>
          <div class="content_spacing">
            <nb-select [(selected)]="selectedItem" outline shape="rectangle">
              @for (item of sidemenuLinks; track item) {
                <nb-option [value]="item.id" (click)="route(item.link)">{{ item.title }}
                </nb-option>
              }
            </nb-select>
          </div>
          <div class="content_spacing">
          </div>
        </nb-card-header>
        <form [formGroup]="imageUpload">
          <div class="wrapper" (click)='imageInput.click()' (drop)="drop($event)" (dragover)="allowDrop($event)">
            <div id="imageDrop" #imageDrop>
              @if (logo) {
                <img [src]="logo?.path" style="max-height:200;" />
              }
            </div>
            <div class="uploadingPhrase">{{ 'STORE_BRANDING.DROP_FILE' | translate}}</div>
          </div>
          <input type="file" formControlName="imageInput" required #imageInput id="imageInput"
            (change)='imageChange($event)'>
          <div class="form-group actions-button">
            @if (showRemoveButton) {
              <button type="submit" class="btn btn-danger" (click)="removeLogo()">{{
              'COMMON.REMOVE' | translate}}</button>
            }
            @if (logoFile) {
              <button type="submit" class="btn btn-primary" (click)="saveLogo()" nbButton
                [nbSpinner]="loadingButton" nbSpinnerSize="large" nbSpinnerMessage="">
                {{ ( !loadingButton ? 'COMMON.SAVE' : '' ) | translate }}
                <!-- {{ 'COMMON.SAVE' | translate}} -->
              </button>
            }
          </div>
        </form>
      </div>
    </nb-card-body>
  }
</nb-card>